<ul>
<h3>Add Author:</h3>
  <%= form_for @author do |f| %>
  <%= f.text_field :name, {placeholder: "Author Name"} %>
  <%= f.text_field :bio, {placeholder: "Bio"} %>
  <%= f.submit %>
  <% end%>
</ul>